= hidden_field_tag :key, "#{locale}.#{key}" 
  
%span.locale
  = locale
= text_field_tag :value, val = (begin I18n.backend.translate locale, key; rescue; end) 
= submit_tag I18n.translate('translator.save'), "data-disable-with" => I18n.translate('translator.saving'), :class => 'button'
- if (default_val = (begin Translator.simple_backend.translate locale, key; rescue; end;)) != val 
  = link_to I18n.translate('translator.default'), '#', "data-recover" => default_val || "", :class => 'button' 