#translations
  %h1= I18n.translate('translator.translations')
  %ul
    %li= link_to_unless_current I18n.translate('translator.administration'), admin_root_path, :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.app_translations'), translations_path(:show => "application"), :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.framework_translations'), translations_path(:show => "framework"), :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.all_translations'), translations_path(:show => "all"), :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.new'), new_translation_path, :class => 'button'

  %div
    = form_tag translations_path(:show => params[:show]), :method => "get" do 
      = label_tag :key, I18n.translate('translator.filter')
      = text_field_tag :search, params[:search], :placeholder => I18n.translate('translator.search_for_text')
      = select_tag :key, options_for_select(@sections.collect {|k| [k.humanize, k]}.unshift(["All sections", nil]), params[:key])
      = submit_tag I18n.translate('translator.search'), :name => nil, :class => 'button' 

  - unless @total_pages < 2 
    - (1..@total_pages).each do |p|
      = link_to_unless_current p, translations_path(:show => params[:show], :key => params[:key], :search => params[:search], :page => p), :class => "button small"
  <br />

  - unless @keys.length < 1 
    = submit_tag I18n.translate('translator.save_all'), "data-disable-with" => I18n.translate('translator.saving'), :type => 'button', :class => ['save-all-button', 'button']
  <br /> 

  - if @keys.length == 0
    %h2= I18n.translate('translator.nothing_found')
    
  - @keys.each do |key|
    %div#key.translation
      %h2
        - parts = key.split('.').map(&:humanize)
        -if params[:key].present?
          -parts.delete_at(0)
        -elsif parts.size > 1
          - parts[0] = link_to(parts[0], translations_path(:show => params[:show], :key => parts[0].underscore), :title => "Go to secion" + parts[0])
        = parts.join(' > ').html_safe
        = link_to  I18n.translate('translator.delete'), translation_path(:id => 0, :key => key), :method => 'delete'
    - Translator.locales.each do |locale|
      = form_tag translations_path, :id => "#{locale}.#{key}".gsub('.', '-'), :class => "translate", :remote => true, :method => "post" do
        = render :partial => "form", :locals => {:locale => locale, :key => key}

  - unless @keys.length < 1
    = submit_tag I18n.translate('translator.save_all'), "data-disable-with" => I18n.translate('translator.saving'), :type => 'button', :class => ['save-all-button', 'button']
  <br />

  - unless @total_pages < 2
    - (1..@total_pages).each do |p|
      = link_to_unless_current p, translations_path(:show => params[:show], :key => params[:key], :search => params[:search], :page => p), :class => "button small"

#footer

:javascript
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });

:javascript
  $('.save-all-button').live("click", function(event) {  
    event.preventDefault();
    $("input[type='submit'][name='commit']").each(function() {
        if ($("input[type='text']", $(this).parents("form:first")).val() != "") {
            $(this).click();
        }
    });
    return false;
  });


