#translations
  %h1= I18n.translate('translator.add_new_translation')
  %ul
    %li= link_to_unless_current I18n.translate('translator.app_translations'), translations_path(:show => "application"), :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.framework_translations'), translations_path(:show => "framework"), :class => 'button'
    %li= link_to_unless_current I18n.translate('translator.all_translations'), translations_path(:show => "all"), :class => 'button'
  
  %div
    %p= I18n.translate('translator.add_key_value_translation')
    = form_tag translations_path, :class => "translate", :method => "post" do
      = label_tag(:key, I18n.translate('translator.key')) 
      <br>
      = text_field_tag :key, "en." 
      <br> 
      = label_tag(:value, I18n.translate('translator.value')) 
      <br>
      = text_field_tag :value
      <br>
      = submit_tag I18n.translate('translator.add') 
  

#footer

:javascript
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });